.eventbuttonWrapper{
    display: flex;
    width: 100%;
    margin-right: 42px;
    justify-content: center;
    align-items: center;
    transition: all 0.25s ease;

    .trash{
        height: 70px;
        font-size: 45px;
        color: crimson;
        border-radius: 25px;
        transition: inherit;
        cursor: pointer;
        &:hover{
            color: black;
            background-color: crimson;
        }
    }
    .eventbutton{
        display: flex;
        align-items: center;
        flex-direction: row;
        height: 80px;
        border-radius: 45px;
        text-decoration: none;
        transition: inherit;
        color: black;

        span{
            cursor: pointer;
            padding: 10px;
            font-weight: 600;
            font-size: 35px;
        }
        &:hover{
            background-color: rgb(0, 0, 201);
            color: white;
        }
    }
}