@import "../../theme.scss";

.eventPage {
    height: 100vh;
    width: 100%;
    .loading {
        display: flex;
        align-items: center;
        height: 75%;
        font-size: 80px;
        font-weight: 600;
        justify-content: center;
    }
    .middle {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 75%;
        flex-direction: column;
        .event {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            height: 45%;
            overflow: visible;
            width: 100%;
            h1 {
                margin: 5px;
                padding: 5px;
                font-size: 40px;
                border-bottom: 2px solid black;
            }
            h2 {
                margin: 5px;
                padding: 5px;

                font-size: 30px;
                font-weight: 500;
                // border-bottom: 1px solid black;
            }
            span {
                font-size: 25px;
                margin: 5px;
                padding: 5px;

                // border-bottom: 1px solid black;
            }
        }
        .exerciseList {
            display: flex;
            height: 45%;
            flex-direction: column;
            width: 60%;
            align-items: center;
            overflow-y: scroll;
            &::-webkit-scrollbar {
                display: none;
            }
        }
    }
}
