@import "../../theme.scss";

.eventPage {
    display: flex;
    height: 75vh;
    width: 100%;
    overflow-y: scroll;

    border: 1px solid black;
    &::-webkit-scrollbar {
        width: 8px;
    }
    &::-webkit-scrollbar-track {
        border-radius: 10px;
        box-shadow: inset 0 0 5px grey;
    }
    &::-webkit-scrollbar-thumb {
        background-color: gray;
        border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb:hover {
        background: rgb(63, 63, 63);
    }
    .loading {
        display: flex;
        align-items: center;
        height: 100%;
        width: 100%;
        font-size: 80px;
        //font-weight: 600;
        justify-content: center;
    }
    .middle {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
        .deleteEvent {
            position: absolute;
            top: 14vh;
            right: 4vh;
            width: 100px;
            height: 80px;
            background-color: crimson;
            border-radius: 15px;
            border: solid 1px black;
            color: $light-background;
            transition: all 0.4s ease;
            cursor: pointer;
            &:hover {
                color: crimson;
                background-color: $light-background;
            }
        }
        .event {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 100%;
            height: 100%;
            &.no {
                height: 45%;
            }

            h1 {
                margin: 5px;
                padding: 5px;
                font-size: 40px;
                border-bottom: 2px solid black;
            }
            h2 {
                margin: 5px;

                font-size: 30px;
                //font-weight: 500;
            }
            span {
                font-size: 25px;
                margin: 5px;
            }
        }
        .exerciseList {
            display: flex;
            flex-direction: column;
            height: 60%;
            width: 90%;
            align-items: center;
        }
    }
}
