@import "../../theme.scss";

.exercise {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 20%;
    margin: 2px;
    border: solid 2px black;
    transition: all 0.5s ease;
    position: relative;
    margin-top: 15px;
    border-radius: 15px;

    .exerciseComponent {
        display: flex;
        flex-direction: row;
        height: 100%;
        align-items: center;
        font-size: 30px;
        .arrow {
            display: flex;
            height: 100%;
            width: 10%;
            cursor: pointer;
            align-items: center;
            justify-content: center;
            img {
                width: 50%;
                &.active {
                    transform: scaleY(-1);
                }
                animation: arrowBlink 2s infinite;
            }
        }

        @keyframes arrowBlink {
            50% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
        .wrapper {
            display: flex;
            width: 80%;
            height: 100%;
            flex-direction: column;
            align-items: center;
            position: relative;
            justify-content: center;
            .type {
                display: flex;
                align-items: center;
                height: 33%;
                font-size: 50px;
                margin-bottom: 15px;
                margin-top: 15px;
            }
            .setsReps {
                height: 66%;

                // border: 1px solid black;
                .exerciseInfo {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                }
                .setBoxes {
                    display: flex;
                    width: 100%;
                    height: 50px;
                }
            }
        }
    }

    &.active {
        height: 70%;
    }

    &:hover {
        background-color: #ddd7cf;
    }
}
