$wolfIMG: "../img/wolf.png";
@import "../_theme.scss";

.dashboard {
    height: 100vh;
    width: 100vw;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    .dashboardContent {
        height: calc(100% - 25vh);
        width: 100%;
        display: flex;
        flex-direction: row;
        transition: all 0.5s ease;
        .dashboardLeft {
            width: 100%;
            height: 100%;
            transition: all 0.5s ease;

            &.active {
                width: 40%;
                border-right: 3px solid black;
                img {
                    display: none;
                }
                .listWrapper {
                    .middleSpacer {
                        .clock {
                            transition: all 0.5s ease;
                            height: 25%;
                            width: 120%;
                            font-size: 70px;
                            background: url(../img/clock-background.png) no-repeat top center fixed;
                        }
                        .eventList{
                            width: 90%;
                        }
                    }
                }
            }

            .listWrapper {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                height: 75vh;
                position: relative;

                .spacer {
                    display: flex;
                    align-items: center;
                    flex: 0.25;
                    height: 100%;
                    img {
                        object-fit: cover;
                    }
                }
                .middleSpacer {
                    display: flex;
                    flex: 0.5;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    height: 100%;

                    .clock {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 35%;
                        width: 100%;
                        background: url(../img/clock-background.png) no-repeat top center fixed;
                        border-radius: 45px;
                        font-size: 82px;
                        font-weight: 500;
                        color: $wolf-color;
                        -webkit-text-stroke-width: 1.5px;
                        -webkit-text-stroke-color: #ffffff;
                    }
                    .loading {
                        display: flex;
                        position: relative;
                        justify-content: center;

                        height: 60%;
                        width: 100%;
                        font-size: 80px;
                        span {
                            position: relative;
                            top: 20%;
                        }
                    }
                    .eventList {
                        display: flex;
                        flex-direction: column;
                        top: 10px;
                        height: 60%;
                        width: 80%;
                        overflow-y: scroll;
                        position: relative;

                        &::-webkit-scrollbar {
                            width: 5px;
                        }
                        &::-webkit-scrollbar-track {
                            border-radius: 10px;
                            box-shadow: inset 0 0 5px grey;
                        }
                        &::-webkit-scrollbar-thumb {
                            background-color: gray;
                            border-radius: 10px;
                        }
                        &::-webkit-scrollbar-thumb:hover {
                            background: rgb(63, 63, 63);
                        }
                    }
                }
            }
        }
        .dashboardRight {
            width: 0;
            height: 0;
            transition: all 0.5s ease;

            &.active {
                width: 60%;
            }
        }
    }
}
