$backgIMG: "../img/university-background.jpg";
@import "../_theme.scss";

.loginpage{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    .underlay {
        z-index: 0;
        background: transparent;
        #img {
            position: relative;
            object-fit: cover;
            height: auto;
            width: auto;
            //max-width: 100vw; //hidden so it can be tested in half-screen
        }
    }
    .inputbox{
        display: flex;
        position: absolute;
        z-index: 1;
        //scales to actual center
        top: 49%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 200px;
        width: 200px;
        background-color: rgb(252, 252, 252);
        padding: 20px;
        border: 1px solid rgb(212, 212, 212);
        border-radius: 6px;
        box-shadow: 0 3px 8px rgb(51, 51, 51);
        .textinput{
            #emailenter label{
                font-weight: 500;
            }
            #passenter{
                padding-top: 7px;
            }
            #passenter label{
                font-weight: 500;
            }
            // display: flex;
            // flex-direction: column;
            // align-items: center;

            #loginbutton{
                padding-top: 15px;
            }
            #loginbutton button{
                cursor: pointer;
            }
            #loginbutton button:hover,
            #loginbutton button:focus{
                box-shadow: 0 2px 1px rgb(212, 212, 212);
            }

            #registerbutton button{
                cursor: pointer;
                position: absolute;
                bottom: 20px;
                left: 20px;
            }

            #registerbutton button:hover,
            #registerbutton button:focus{
                box-shadow: 0 2px 1px rgb(212, 212, 212);
            }
        }
    }
}