@import "../_theme.scss";

.settingspage {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    top: calc(12.5vh - 10px);
    height: calc(75vh + 20px);
    width: 24%;
    overflow: hidden;
    z-index: 2;
    background-color: inherit;
    border: 3px solid lightslategrey;
    border-radius: 30px;
    font-size: 30px;
    font-weight: 400;
    margin-left: 15px;
    .middle {
        display: flex;
        height: 75%;
    }
}
