@import '../_theme.scss';

.settingspage{
    //background-color: var(--color_background);
    //color: var(--color_text);
    // @include theme(){
    //     background-color: getTheme('bg-color');
    //     color: getTheme('text-color')
    // }
    height: 100vh;
    width: 100%;
    overflow: hidden;
    .middle{
        display: flex;
        height: 75%;
    }
}