.settingsWrapper{
    display: flex;
    flex-direction: horizontal;
    #setting1{
        display: flex;
        align-items: center;

        &:hover{
            cursor: pointer;
        }
    }
}