@import "../../theme.scss";

.topWrapper {
  display: flex;
  flex-direction: horizontal;
  justify-content: space-between;
  height: 12.5vh;
  background-color: $nevada-blue;
  .settingsHomeWrapper {
    display: flex;
    flex: 0.5;
    align-items: center;
    #button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100px;
      height: 100px;
      background-color: $nevada-blue;
      border-radius: 50px;
      margin: 1px;
      text-decoration: none;
      color: white;
      transition: all 0.02s ease;

      &:hover {
        cursor: pointer;
        background-color: rgb(25, 68, 128);
        animation: spin 2.5s infinite linear;
      }
    }
    #home {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100px;
      height: 100px;
      background-color: $nevada-blue;
      border-radius: 50px;
      margin: 1px;
      text-decoration: none;
      color: white;
      transition: all 0.02s ease;

      &:hover {
        cursor: pointer;
        background-color: rgb(25, 68, 128);
      }
    }
  }
  .notificationsAddWrapper {
    display: flex;
    flex: 0.5;
    justify-content: flex-end;
    align-items: center;
    #addButton {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100px;
      height: 100px;
      background-color: $nevada-blue;
      border-radius: 50px;
      border: 0pt;
      margin: 1px;
      text-decoration: none;
      color: white;
      transition: all 0.02s ease;

      &:hover {
        cursor: pointer;
        background-color: rgb(25, 68, 128);
      }
    }

    #notificationButton {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100px;
      height: 100px;
      background-color: rgb(170, 15, 46);
      border-radius: 50px;
      border: 0pt;
      margin: 1px;
      text-decoration: none;
      color: white;
      transition: all 0.02s ease;

      &:hover {
        cursor: pointer;
        background-color: crimson;
        animation: ring 0.6s linear;
        animation-iteration-count: 1;
      }
    }
  }
}

@keyframes ring {
  0% {
    transform: rotate(0deg);
  }
  5% {
    transform: rotate(8deg);
  }
  10% {
    transform: rotate(16deg);
  }
  15% {
    transform: rotate(16deg);
  }
  20% {
    transform: rotate(8deg);
  }
  25% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(-7deg);
  }
  35% {
    transform: rotate(-14deg);
  }
  40% {
    transform: rotate(-14deg);
  }
  45% {
    transform: rotate(-7deg);
  }
  50% {
    transform: rotate(0deg);
  }
  55% {
    transform: rotate(4deg);
  }
  60% {
    transform: rotate(8deg);
  }
  65% {
    transform: rotate(8deg);
  }
  70% {
    transform: rotate(4deg);
  }
  75% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(2deg);
  }
  85% {
    transform: rotate(-4deg);
  }
  90% {
    transform: rotate(-4deg);
  }
  95% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
