@import "../../_theme.scss";

.add-group {
    background-color: inherit;
    border: 2px solid lightslategrey;
    border-radius: 8px;
    width: 50%;
    height: 40%;
    position: fixed;
    top: 200%;
    left: 25%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 1s ease;
    &.active {
        top: 30%;
        left: 25%;
        text-align: middle;
    }
    .top {
        display: flex;
        width: 100%;
        height: 15%;
        align-items: center;
        justify-content: flex-end;
        //background-color: lightgrey;

        .topSplit1 {
            display: flex;
            flex: 0.33;
        }
        .topSplit2 {
            display: flex;
            flex: 0.33;
        }
        .topSplit3 {
            display: flex;
            flex: 0.33;
            justify-content: flex-end;

            .closeMenu {
                position: relative;
                right: 15px;
                top: 0px;
                display: flex;
                cursor: pointer;
                transition: all 1s ease;

            }
        }
    }
    .middle {
        display: flex;
        height: 65%;
    }
    .bottom {
        display: flex;
        height: 15%;
        width: 100%;
        padding-bottom: 10px;
        align-items: center;
        justify-content: space-between;
        .buttonWrapper.light{
            display: flex;
            justify-content: center;
            width: 100%;
            button {
                width: 120px;
                height: 40px;
                font-weight: 500;
                font-size: large;
                border-radius: 6px;
                color: $nevada-white;
                background-color: $button-blue;
                border: $button-blue-lighter 1px solid;
                transition: all 0.25s ease;
                margin: 0px 5px 0px 5px;
                &:hover {
                    background-color: #2976ce;
                    box-shadow: 0 2px 1px rgb(196, 196, 196);
                }
            }
        }
        .buttonWrapper.dark{
            display: flex;
            justify-content: center;
            width: 100%;
            button {
                width: 120px;
                height: 40px;
                font-weight: 500;
                font-size: large;
                border-radius: 6px;
                color: $nevada-white;
                background-color: $button-blue;
                border: $button-blue-lighter 1px solid;
                transition: all 0.25s ease;
                margin: 0px 5px 0px 5px;
                &:hover {
                    background-color: #246ec2;
                    box-shadow: 0 2px 1px rgb(56, 56, 56);
                }
            }
        }
    }
}
