$wolfIMG: "../img/wolf.png";
@import "../../_theme.scss";

.dashboard {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    width: 100vw;

    .listWrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 75vh;
        position: relative;

        .spacer {
            display: flex;
            align-items: center;
            flex: 0.25;
            height: 100%;
            img {
                object-fit: cover;
            }
        }

        .backgroundCell {
            z-index: 0;
            position: fixed;
            height: 54%;
            width: 30%;
            border-radius: 10px;
            &.light{
                background: rgb(223, 223, 223);
                border: $dark-background 2px solid;
            }
            &.dark{
                background: rgb(46, 46, 46);
                border: rgb(121, 121, 121) 2px solid;
            }
            .cellTwo{
                position: fixed;
                height: 9%;
                width: 30%;
                background-color: $wolf-color;
                border-top-left-radius: 8px;
                border-top-right-radius: 8px;
            }
        }

        .middleSpacer {
            z-index: 1;
            display: flex;
            flex: 0.5;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;

            label{
                z-index: 1;
                font-size: 56px;
                color: $dark-text;
            }
            // &.light{
            //     label{
            //         border-bottom: rgb(36, 36, 36) 2px solid;
            //     }
            // }
            // &.dark{
            //     label{
            //         border-bottom: rgb(194, 194, 194) 2px solid;
            //     }
            // }
            .loading {
                display: flex;
                position: relative;
                justify-content: center;
                overflow-y: scroll;
                height: 60%;
                width: 100%;
                font-size: 80px;
                span {
                    position: relative;
                    top: 20%;
                }
                &::-webkit-scrollbar {
                    display: none;
                }
            }
            .groupList{
                display: flex;
                flex-direction: column;
                position: relative;
                top: 15px;
                height: 60%;
                //width: 100%;
                //background: rgb(223, 223, 223);
                overflow-y: scroll;
                margin: 0;
                padding: 0;
                &::-webkit-scrollbar {
                    display: none;
                }
            }  
        }
    }
}
