@import "../../_theme.scss";

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
  width: 100%;
  &.light{
    background: rgb(223, 223, 223);
  }
  &.dark{
    background: rgb(46, 46, 46);
  }
  //opacity: 0;
  .groupbuttonWrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    transition: inherit;
    //opacity: 0;
    .groupbutton {
      display: flex;
      align-items: center;
      flex-direction: row;
      height: 80px;
      border-radius: 20px;
      text-decoration: none;
      transition: inherit;
      color: var(--text-color);
      span {
        z-index: 3;
        cursor: pointer;
        padding: 10px;
        font-size: 30px;
        opacity: 1;
      }
      &.light{
        &:hover {
          background-color: rgb(196, 196, 196);
        }
      }
      &.dark{
        &:hover {
          background-color: rgb(80, 80, 80);
        }
      }
    }
  }
  .trash {
    height: 70px;
    font-size: 45px;
    color: crimson;
    border-radius: 25px;
    transition: inherit;
    cursor: pointer;

    &:hover {
      color: black;
      background-color: crimson;
    }
  }
}
