@import "../../theme.scss";

.group {
    font-family: 'Roboto', sans-serif;
    //height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
    .loading {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 75%;
        font-size: 80px;
    }
    body{
        margin: 0;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
     }
     ul{
         // removes bullet points
        list-style-type: none; 
        // overwrite space
        padding-left: 0; 
        margin: 0;
      }
    .middle {
        padding: 20px;
        .middleHeader{
            display: flex;
            justify-content: center; 
            align-items: center;
            button{
              margin-left: 20px;
            }
          }
        .middleWrapper{
            display: flex;
            justify-content: space-evenly;
            //border: red 2px solid;

            .groupName,
            .groupEvents {
                font-family: 'Roboto', sans-serif;
              background-color: #7a7a7a;
              color: white;
              border-radius: 20px;
              width: 30%;
              display: flex;
              flex-direction: column;
              align-items: center;
              padding: 20px;
              li{
                list-style-type: disc;
              }
              h2{
                font-size: 30px;
                  font-weight: 200;
              }
            }
            .groupName{
                width: 10%;
            }
          }
          h1{
              font-weight: 100;
          }
          button{
            width: 200px;
            height: 40px;
            font-weight: 500;
            font-size: large;
            border-radius: 6px;
            color: $nevada-white;
            background-color: $button-blue;
            border: $button-blue-lighter 1px solid;
            transition: all 0.25s ease;
            margin: 0px 5px 0px 5px;
            &:hover {
                background-color: #2976ce;
                box-shadow: 0 2px 1px rgb(196, 196, 196);
            }
          }
    }
    .bottomBar{
        margin-top: auto;
    }
}
.groupDetails {
    display: flex;
    height: 100%;
    .form {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        flex-direction: column;
  
        .list {
            color: inherit;
            height: 60%;
            width: 100%;
            font-size: 30px;
            list-style: none;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .addContainer{
                margin-top: 30px;
            }
            div {
                margin-bottom: 10px;
                display: flex;
                align-items: center;
                flex-direction: column;
                width: 100%;
                  label{
                      margin-bottom: 10px;
                  }
                input {
                    height: 25px;
                    position: relative;
                    left: 5px;
                    font-size: 20px;
                    margin-bottom: 10px;
                }
                button{
                  width: 120px;
                  height: 40px;
                  font-weight: 500;
                  font-size: large;
                  border-radius: 6px;
                  color: $nevada-white;
                  background-color: $button-blue;
                  border: $button-blue-lighter 1px solid;
                  transition: all 0.25s ease;
                  margin: 0px 5px 0px 5px;
                  &:hover {
                      background-color: #2976ce;
                      box-shadow: 0 2px 1px rgb(196, 196, 196);
                  }
                }
            }
        }
    }
  }