.register-user {

  
  background-color: rgb(252, 252, 252);
  padding: 20px;
  border: 1px solid rgb(212, 212, 212);
  border-radius: 6px;
  box-shadow: 0 3px 8px rgb(51, 51, 51);
  width: 450px;
  height: 500px;
  position: fixed;
  //used for slide on transition
  // top: 200%;
  // left: 10%;
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all .8s ease;
  &.active {
    top: 10%;
    left: 10%;
    text-align: middle;
  }

  .topbar{
    display: flex;
    flex: 1;
    justify-content: right;
    .close{
      width: 25px;
      height: 25px;
      position: absolute;
      right: 20px;
      top: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      transition: all .8s ease;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .textinput{
    width: 200px;
    padding-top: 50px;
    justify-content: left;

    #fnenter label{
      font-weight: 500;
    }
    #fnenter {
      padding-top: 0px;
    }

    #lnenter label{
      font-weight: 500;
    }
    #lnenter {
      padding-top: 3px;
    }

    #emailenter label{
        font-weight: 500;
    }
    #emailenter{
      padding-top: 15px;
    } 

    #usernameenter label{
      font-weight: 500;
    }
    #usernameenter {
      padding-top: 3px;
    }

    #passenter1 label{
      font-weight: 500;
    }
    #passenter1{
        padding-top: 15px;
    }

    #passenter2 label{
      font-weight: 500;
    }
    #passenter2 {
      padding-top: 3px;
    }

    // #registerbutton{
    //     position: absolute;
    //     bottom: 20px;
    //     left: 20px;
    // }
  }
}