.Login {
  padding: 60px 0;

  &__form {
    margin: 0 auto;
    max-width: 320px;
  }

  &__input {
    color: red;
  }

  &__button {
    padding: 0.5em 1em;
    border-radius: 0.25em;
    border: 1px solid #0001;
    background-color: #36f;
  }
}
