@import "../../_theme.scss";

.eventDetails {
    display: flex;
    height: 100%;
    .form {
        display: flex;
        justify-content: flex-start;
        align-items: start;
        width: 100%;
        height: 100%;
        flex-direction: column;

        .list {
            font-family: 'Roboto', sans-serif;
            color: inherit;
            height: 60%;
            width: 100%;
            font-size: 26px;
            list-style: none;
            display: flex;
            flex-direction: column;
            align-items: start;
            padding-top: 15%;
            
            .title.light,
            .description.light,
            .type.light{
                input{
                    font-family: 'Roboto', sans-serif;
                    background-color: #e6e6e6;
                    border-radius: 4px;
                    border: rgb(41, 41, 41) 1px solid;
                    &:active,
                    &:focus{
                        transition: all ease .3s;
                        background-color: white;
                    }
                }
                textarea{
                    font-family: 'Roboto', sans-serif;
                    background-color: #e6e6e6;
                    border-radius: 4px;
                    border: rgb(41, 41, 41) 1px solid;
                    &:active,
                    &:focus{
                        transition: all ease .3s;
                        background-color: white;
                    }
                }
                select{
                    font-family: 'Roboto', sans-serif;
                    background-color: #e6e6e6;
                    border-radius: 4px;
                    border: rgb(41, 41, 41) 1px solid;
                    &:active,
                    &:focus{
                        transition: all ease .3s;
                        background-color: white;
                    }
                }
            }
            .title.dark,
            .description.dark,
            .type.dark{
                input{
                    font-family: 'Roboto', sans-serif;
                    background-color: rgb(27, 27, 27);
                    color: $dark-text;
                    border-radius: 4px;
                    border: rgb(41, 41, 41) 1px solid;
                    &:active,
                    &:focus{
                        transition: all ease .3s;
                        background-color: $dark-background;
                    }
                }
                textarea{
                    font-family: 'Roboto', sans-serif;
                    background-color: rgb(27, 27, 27);
                    color: $dark-text;
                    border-radius: 4px;
                    border: rgb(41, 41, 41) 1px solid;
                    &:active,
                    &:focus{
                        transition: all ease .3s;
                        background-color: $dark-background;
                    }
                }
                select{
                    font-family: 'Roboto', sans-serif;
                    background-color: rgb(27, 27, 27);
                    color: $dark-text;
                    border-radius: 4px;
                    border: rgb(41, 41, 41) 1px solid;
                    &:active,
                    &:focus{
                        transition: all ease .3s;
                        background-color: $dark-background;
                    }
                }
            }
            div {
                margin-bottom: 10px;
                display: flex;
                align-items: center;
                flex-direction: column;
                width: 100%;

                input {
                    height: 25px;
                    position: relative;
                    left: 5px;
                    font-size: 20px;
                }
                select {
                    font-size: 20px;
                    width: 25%;
                    text-align: center;
                }
                textarea {
                    resize: none;
                    width: 50%;
                    height: 100px;
                    position: relative;
                    font-size: 20px;
                }
            }
            .date.light{
                height: 200px;
                display: flex;
                flex-direction: row;
                #datetime-local{
                    width: 80%;
                }
            }
            .date.dark{
                height: 200px;
                display: flex;
                flex-direction: row;
                #datetime-local{
                    width: 80%;
                    color: $dark-text;
                }
            }
        }
    }
}
