.add-event {
  background-color: lightgrey;
  width: 60%;
  height: 80%;
  position: fixed;
  top: 200%;
  left: 20%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  transition: all 1s ease;
  align-items: center;
  &.active {
    top: 10%;
    left: 20%;
    text-align: middle;
  }
  .closeWrapper {
    display: flex;
    width: 95%;
    height: 25px;
    justify-content: flex-end;
    margin-top: 25px;
    align-items: center;
    .closeMenu {
      width: 32px;
      height: 25px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      cursor: pointer;
      transition: all 1s ease;

      span {
        width: 100%;
        height: 3px;
        background-color: black;
        transform-origin: left;
        &:first-child {
          transform: rotate(45deg);
        }
        &:last-child {
          transform: rotate(-45deg);
        }
      }
    }
  }
  form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 95%;
    flex-direction: column;
    .listWrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 60%;
      ul {
        flex-direction: column;
        font-size: 30px;
        font-weight: 600;
        color: black;
        width: 100%;
        height: 80%;
        list-style: none;
      }
    }
    .buttonWrapper {
      display: flex;
      width: 30%;
      justify-content: space-between;
      align-items: center;
      button {
        width: 120px;
        height: 40px;
        font-weight: 500;
        font-size: large;
        border-radius: 8px;
        background-color: white;
        transition: all 0.25s ease;
        &:hover {
          background-color: rgb(219, 219, 219);
        }
      }
    }
  }
}
