.add-event {
  background-color: lightgrey;
  width: 60%;
  height: 80%;
  position: fixed;
  top: 200%;
  left: 20%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  transition: all 1s ease;
  align-items: center;

  &.active {
    top: 10%;
    left: 20%;
    text-align: middle;
  }
  .topWrapper {
    display: flex;
    width: 95%;
    height: 8%;
    align-items: center;
    .closeMenu {
      justify-content: flex-end;
      width: 32px;
      height: 25px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      cursor: pointer;
      transition: all 1s ease;

      span {
        width: 100%;
        height: 3px;
        background-color: black;
        transform-origin: left;
        &:first-child {
          transform: rotate(45deg);
        }
        &:last-child {
          transform: rotate(-45deg);
        }
      }
    }
  }
}
